* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.8s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

#arrow {
  animation: 2s upDown infinite;
}

a#link_gundar {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a#link_gundar:hover {
  height: 2px;
  border-radius: 3px;
  transform: translateY(-2px);
  text-decoration: underline;
}

.skillz-label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

ul.language-skills {
  list-style: none;
  /* Ketengahin skills, ul nya jadi gapunya padding */
  padding: 0;
  margin: 0;
}

ul.framework-skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tools-skills {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: block;
  margin: 10px 3px 3px 0;
  font-family: Inconsolata, monospace;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 8px;
  color: black;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

span.emoji {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block; /* Ensures proper alignment with text */
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animated {
  animation: wave 2s infinite; /* Adjust the duration as needed */
}

.projects_used_item {
  display: inline-block;
  margin: 3px 3px 3px 0;
  font-family: Inconsolata, monospace;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 8px;
  color: black;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.projects_used_item:not(:first-child) {
  margin-left: 10px;
}

.contact-left {
  font-weight: bold;
  text-align: left;
  word-spacing: 0.1cap;
}

.contact-right a {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

/* .contact-right a:hover {
  text-decoration: underline black;
  text-decoration-thickness: 3px;
} */

/* CSS untuk animasi text-decoration underline */
a {
  text-decoration: none;
  position: relative;
}

a:hover {
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Atur tinggi garis underline */
  bottom: 0;
  left: 0;
  background-color: black; /* Atur warna underline sesuai kebutuhan */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.contact-right-item {
  margin-right: 5%;
}
